<style>
  .navbar{
    background-color: white !important;
    height: 5rem;
    /* width: 100rem !important; */
  }
  .fa-compass
  {
    color: #fe424d;
    font-size: 2rem;
  }
  .nav-link
  {
    color: #222222 !important;
  
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link  "  href="/alltoys">All Toys</a>
          <a class="nav-link" href="/addtoy">Add a New Toy</a>
          <a class="nav-link" href="/toys/issuetoy">Issued Toy</a>
          <a class="nav-link " href="/toys/returntoy" >return Toy</a>
          <a class="nav-link " href="#" >Track Toys</a>
        </div>
      </div>
    </div>
</nav>
