<% layout("/layouts/boilerplate") %>
<style>
    .add-btn, .edit-btn, .edit1-btn
    {
   
        background-color:  #fe424d !important;
        border: none !important;
    }   
</style>
<div class="row mt-3">

    <br>
    <div class="col-8 offset-2" >
        <br>
    <h3>Issue A toy</h3>
    <form action="/alltoys" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Toy Name</label>
            <input type="text" required class="form-control" name="toyname" id="title" placeholder="Add a Toy Name" required>
            <div class="valid-feedback">
                Toy name looks good!
            </div>
        </div>
       
        
        <div class="mb-3">
            <label for="cate" class="form-label"> Category</label>
            <input type="text" required name="toycategory" class="form-control" placeholder="" id="cate">
            <div class="invalid-feedback">
                Please enter Toy Category
            </div>
        </div>
        

        
        <div class="mb-3">
            <label for="memname" class="form-label">Member Name</label>
        <input type="text" id="memname" required class="form-control" name="membername" placeholder="Enter Member name">
        <div class="invalid-feedback">
            Name should be valid
        </div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"> Isseu Date </label>
            <input  type ="date" id="price" required class="form-control" name="Issdt" placeholder="1200">
            <div class="invalid-feedback">
               Issue Date should be valid
            </div>
            </div>
           
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label"> Returned Date</label>
            <input type="date" id="country" required class="form-control" name="retdt" placeholder="">
            <div class="invalid-feedback">
                Return Date should be valid
            </div>
            </div>
    
        </div>
        <div class="mb-3">
            <label for="memname" class="form-label">Member Address</label>
            <textarea type="text" id="memname" required class="form-control" name="memberaddress" placeholder="Enter Member Address"></textarea>
            <div class="invalid-feedback">
                 Address should be valid
            </div>
        </div>
        <div class="mb-3">
            <label for="telephone" class="form-label">Member Contact</label>
            <input type="text" id="telephone" pattern="^\d{10}$" required class="form-control" name="membercontact" placeholder="Enter Member Contact">
            <div class="invalid-feedback">
                Contact should be valid
            </div>
        </div>

        <button class="add-btn btn btn-dark  mt-2">Issued</button>
        <br><br>
    </form>
</div>
</div>
