<% layout("/layouts/boilerplate") %>
<div class="row mt-3">

    <br>
    <div class="col-8 offset-2" >
        <br>
    <h3>Add a New toy</h3>
    <form action="/toys/new" method="post" novalidate id="newForm" class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Toy Name</label>
            <input type="text" required class="form-control" name="toyname" id="title" placeholder="Add a Toy Name" required>
            <div class="invalid-feedback">
                Toy name looks good!
            </div>
        </div>
       
        
        <div class="mb-3">
            <label for="cate" class="form-label"> Category</label>
            <input type="text" required name="toycategory" class="form-control" placeholder="" id="cate">
            <div class="invalid-feedback">
                Please enter Toy Category
            </div>
        </div>
        

        
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
        <input type="text" id="image" required class="form-control" name="toyimage" placeholder="Enter image URL/link">
        <div class="invalid-feedback">
            Image link should be valid
        </div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label"> Rent</label>
            <input type="text" id="price" required class="form-control" name="toyprice" placeholder="1200">
            <div class="invalid-feedback">
                Rent Should be valid
            </div>
            </div>
           
            <div class="mb-3 col-md-8">
                <label for="quant" class="form-label"> Quantity</label>
            <input type="number" id="quant" required class="form-control" name="toyquantity" placeholder="5">
            <div class="invalid-feedback">
                Quantity should be valid
            </div>
            </div>
    
        </div>

        <button class="btn btn-dark add-btn mt-2">Add</button>
        <br><br>
    </form>
</div>
</div>
